header {
    position: fixed;
    top: 0;
    left: 0;
    width: 97%;
    background: #daf4ed;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 10px rgb(155, 155, 155);
}
.logo {
    display: flex;
    align-items: center;
}
.logo a {
    text-decoration: none;
}
.logo h1 {
    font-size: 28px;
    font-weight: 700;
    color: #2e5f4f;
    letter-spacing: 1px;
    transition: 0.3s ease;
}
.logo h1:hover {
    color: #3b7a67;
}
nav {
    display: flex;
    gap: 25px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #0f6c59;
    font-weight: 600;
    transition: 0.3s;
}

nav a:hover {
    color: #198f78; 
}

.register a {
    text-decoration: none;
    padding: 8px 15px;
    background: #198f78;    
    color: white;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
}

.register a:hover {
    background: #0f6c59;
}
/**/
section {
    max-width: 700px;
    margin: 60px auto;
    padding: 30px;
    background: #f4faf7;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
}

section h3 {
    font-size: 26px;
    color: #2e5f4f;
    margin-bottom: 10px;
}

section p {
    margin-bottom: 25px;
    line-height: 1.6;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form label {
    font-weight: 600;
    color: #2e5f4f;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #c3d7cf;
    border-radius: 8px;
    background: #ffffff;
    resize: none;
    transition: 0.2s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #3b7a67;
    outline: none;
    box-shadow: 0 0 4px rgba(59,122,103,0.4);
}

.contact-form button {
    width: 160px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #3b7a67;
    color: white;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-start;
    transition: 0.3s ease;
}

.contact-form button:hover {
    background: #2e5f4f;
}





/**/
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f1f1f1;
}

footer p {
    margin-bottom: 15px;
    font-size: 14px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-logo {
    width: 100px;  
}


.icon {
    width: 30px; 
    height: auto;
    margin: 0 5px;
}