header {
    position: fixed;
    top: 0;
    left: 0;
    width: 97%;
    background: #daf4ed;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 10px rgb(155, 155, 155);
}
.logo {
    display: flex;
    align-items: center;
}
.logo a {
    text-decoration: none;
}
.logo h1 {
    font-size: 28px;
    font-weight: 700;
    color: #2e5f4f;
    letter-spacing: 1px;
    transition: 0.3s ease;
}
.logo h1:hover {
    color: #3b7a67;
}
nav {
    display: flex;
    gap: 25px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #0f6c59;
    font-weight: 600;
    transition: 0.3s;
}

nav a:hover {
    color: #198f78; 
}

.register a {
    text-decoration: none;
    padding: 8px 15px;
    background: #198f78;    
    color: white;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
}

.register a:hover {
    background: #0f6c59;
}
body {
    padding-top: 90px; 
}
/**/
section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 140px;
    padding-bottom: 90px;
}

#login-form {
    width: 350px;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgb(117, 117, 117);
    display: flex;
    flex-direction: column;
    gap: 18px;
    text-align: center;
}

#login-form input {
    width: 320px;
    padding: 12px 14px;
    border: 2px solid #cde7e2;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

#login-form input:focus {
    border-color: #198f78;
}

#login-form button {
    padding: 12px;
    background-color: #198f78;
    color: white;
    font-size: 17px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

#login-form button:hover {
    background-color: #0f6c59;
}

#login-form p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #444;
}

#login-form a {
    font-size: 15px;
    color: #198f78;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

#login-form a:hover {
    color: #0f6c59;
}
/**/
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f1f1f1;
}

footer p {
    margin-bottom: 15px;
    font-size: 14px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-logo {
    width: 100px;  
}


.icon {
    width: 30px; 
    height: auto;
    margin: 0 5px;
}